// Defino las variables de colores y demas
$radio-borde: 4px;
$gap: 5px;
$negro: #000000;
$azul: #14213d;
$naranja: #F29602;
$amarillo: #fca311;

// Alinea todos los divs

div {
  text-align: center;
  justify-content: center;
  background-color: $negro; 
  vertical-align: middle;
  padding: 15px;
}

body {
  background-color: $negro;
}
.container{
  display: grid;
  grid-template-columns:  auto;
  grid-template-rows:  auto;
  grid-column-gap: $gap;
  grid-row-gap: $gap;
  grid-template-areas: 
  "header "
  "maincontainer"
  "aside"
  "footer";
  
  .c-main{
    padding: 0;
  }
}

.c-main {
display: grid;
grid-template-columns:  1fr;
grid-template-rows:  1fr 1fr 1fr;
grid-area:  maincontainer; 
grid-column-gap: $gap;
grid-row-gap: $gap;
grid-template-areas: 
  "headermain"
  "article1"
  "article2";
}

.c-header {
    grid-area:  header; 
    background-color: $naranja;
    border-radius: $radio-borde;
 }

 .div-header-main {
     grid-area:  headermain;
     background-color: $amarillo;
     border-radius: $radio-borde;
 }
 
 .div-article-1 {
    grid-area:  article1;
    background-color: $azul;
    border-radius: $radio-borde;
 }

 .div-article-2 {
    grid-area:  article2; 
    background-color: $azul;
    border-radius: $radio-borde;
 }

 .c-aside {
     grid-area:  aside; 
     background-color: $azul;
     border-radius: $radio-borde;
 }

 .c-footer {
     grid-area:  footer;
     background-color: $azul;
     border-radius: $radio-borde;
 }
    
    
    // Escritorio
  
  @media (min-width: 1025px) {
    
    .container {
      display: grid;
      grid-template-columns:  auto;
      grid-template-rows:  auto;
      grid-column-gap: $gap;
      grid-row-gap: $gap;
      grid-template-areas: 
      "header header"
      "aside maincontainer"
      "footer footer";
  }

  .c-main {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-area:  maincontainer; 
    grid-column-gap: $gap;
    grid-row-gap: $gap;
    grid-template-areas: 
      "headermain headermain"
      "article1 article2";
  }
    
  }
  
    // Tablet
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .container {
      display: grid;
      grid-template-columns:  auto;
      grid-template-rows:  auto;
      grid-column-gap: $gap;
      grid-row-gap: $gap;
      grid-template-areas: 
      "header header"
      "aside maincontainer"
      "footer footer";
  }

  .c-main {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-area:  maincontainer; 
    grid-column-gap: $gap;
    grid-row-gap: $gap;
    grid-template-areas: 
      "headermain"
      "article1"
      "article2";
  }
    
  }
  

    // Movil
  
  @media (min-width: 320px) and (max-width: 767px) {
    

    
  }